WEB_URL=http://127.0.0.1:5173/
EXTENSION_PORT=http://127.0.0.1:8000/
VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH

SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_DB_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
SUPABASE_PUBLISHABLE_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
SUPABASE_SECRET_KEY=
SUPABASE_STUDIO_URL=http://127.0.0.1:54323
SUPABASE_MAILPIT_URL=http://127.0.0.1:54324
